<!DOCTYPE html>
<html lang="en">
{{> header this}}

<body>
{{> navigation this}}

{{!-- Rick and Morty List --}}

{{> messages this}}
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {{#each pokemonCharacters}}
        <tr>
            <td>{{this.name}}</td>
            <td>
                <a class="btn btn-info" href="/pokemon/character/{{this.id}}">See more</a>
                {{#if this.isNotFavorite}}
                <a class="btn btn-success" href="/pokemon/favorite/{{this.id}}">Favorite</a>
                {{/if}}
                {{#if this.isFavorite}}
                <a class="btn btn-warning" href="/pokemon/unfavorite/{{this.id}}">Remove from favorites</a>
                {{/if}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
<div class="container p-4 mx-auto" style="width: 18rem;">
    {{#if prevPage}}
    <a class="btn btn-info" href="/rickandmorty/{{prevPage}}">Prev</a>
    {{/if}}
    {{#if nextPage}}
    <a class="btn btn-info" href="/rickandmorty/{{nextPage}}">Next</a>
    {{/if}}
</div>

{{> footer this}}
</body>
</html>